/* You can add global styles to this file, and also import other style files */

:root {
  --primary: #7655e9;
  --secondary: #05a1ff;
  --star: #fed500;
  --gray-dark: #333333;
  --gray: #c0c0c0;
  --gray-medium: #efefef;
  --gray-light: #f8f9fa;
}

html {
  background-color: var(--gray-light);
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
}

.cursor-pointer {
  cursor: pointer;
}

.text-uppercase {
  text-transform: uppercase !important;
}

.disabled {
  opacity: .4;
  pointer-events: none;
}
